@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1E1E2E; 
    gap: 20px; 
}
.clock {
    position: relative;
    width: 300px;
    height: 300px;
    background: #181825; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
    inset 10px 10px 10px rgba(49, 50, 68, 0.4), 
    -15px -15px 35px rgba(49, 50, 68, 0),
    inset -1px -1px 10px rgba(0, 0, 0, 0.2);
}

.clock::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #F5C2E7; 
    border-radius: 50%;
    z-index: 10000;
    box-shadow: 0 0 0 1px #F5C2E7,
    0 0 0 3px #1E1E2E,
    0 0 5px 5px rgba(0, 0, 0, 0.15);
}

.clock .numbers {
    position: absolute;
    inset: 35px;
    background: #11111B; 
    border-radius: 50%;
    box-shadow: 5px 5px 15px #11111B66,
    inset 5px 5px 5px rgba(49, 50, 68, 0.35), 
    -6px -6px 10px rgba(49, 50, 68, 0.6); 
}

.clock .numbers span {
    position: absolute;
    inset: 5px;
    text-align: center;
    color: #CDD6F4; 
    font-size: 1.25rem;
    transform: rotate(calc(90deg * var(--i)));
}

.clock .numbers span b {
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-90deg * var(--i)));
}

.clock .numbers::before {
    content: "";
    position: absolute;
    inset: 35px;
    background: linear-gradient(#89B4FA, #F5C2E7); 
    border-radius: 50%;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.clock .numbers::after {
    content: "";
    position: absolute;
    inset: 38px;
    background: #11111B; 
    border-radius: 50%;
}

.clock .numbers .circle {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.clock .numbers .circle i {
    position: absolute;
    width: 3px;
    height: 50%;
    background: #CDD6F4; 
    transform-origin: bottom;
    transform: scaleY(0.55);
}

.clock .numbers .circle#hr i {
    transform: scaleY(0.3);
    width: 4px;
}

.clock .numbers .circle#mn i {
    transform: scaleY(0.5);
}

.clock .numbers .circle#sc i {
    transform: scaleY(0.58);
    width: 2px;
    background: #F5C2E7; 
    box-shadow: 0 0 30px #F5C2E7;
}

.info {
    text-align: center;
    margin-bottom: 30px;
    color: #CDD6F4; 
}

.info h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #F5C2E7; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: -1px;
}

.info p {
    font-size: 1.1rem;
    color: #9ECCB7; 
    font-weight: 300;
    margin-top: 10px;
}